/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Label{
	-fx-font-family: Georgia;
}
.header{
	-fx-font-size: 20pt;
	-fx-font-weight: bolder;
	-fx-padding: 20px;
}
VBox{
	-fx-spacing: 20px;
	-fx-padding: 10px;
}